<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ law.title }}</title>
  </head>
  <body>
    <h1>{{ law.title }}</h1>
    <p>{{ law.description }}</p>
    <p>Category: {{ law.category.name }}</p>
    <p>Price: ₦{{ law.price }}</p>

    {% if law.price == 0 %}
    <a href="{% url 'download_law' law.pk %}">Download for Free</a>
    {% else %}
    <a href="{% url 'mock_payment' law.pk  %}"
      >Pay & Download (₦{{ law.price }})</a
    >
    {% endif %}

    <hr />
    <a href="{% url 'law_list' %}">⬅ Back to list</a>
  </body>
</html>
